h1, h2, h3, h4, h5, h6, p {
    color: var(--bg-orange);
}

:root {
    /* --bg-orange: white; */
    --bg-orange: #222222;
    --bg-orange-pri: #f58220;
    --bg-orange-light: #f7a55e;
    --bg-white-text-clr: white;
    --bg-electric-blue:   #c0c0c0 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}